.app-container {
  font-family: Poppins, sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  flex: 2.5;
  margin-left: 30px;
  color: #f1f1f8;
  font: 500 2rem/2rem "Open Sans", sans-serif;
  font-size: 19px;
  text-shadow: 0.2px 0.2px white;
  padding-top: 230px;
  width: 750px;
}

.login {
  flex: 1;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 40px;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: 20px;
  min-width: 450px;
  max-width: 450px;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
  line-height: 36px;
  color: #000000;
}
.sub-heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #5e5e5e;
  margin: 0 0 10px 0;
}
.Button:disabled {
  cursor: default;
}
.Button:disabled:hover {
  background: #2400ff;
}
.Button:hover {
  background: #15009e;
}
.header {
  height: 80px;
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px #000;
  display: flex;
  flex-direction: row;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div::-webkit-scrollbar {
  width: 12px;
}
div::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background-color: #dee2e6; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}
.header-img {
  max-height: 50px;
}
.dropdown-toggle {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}
.signup-text {
  font-size: 14px;
  margin-top: 15px;
}
.signup-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
.login-header {
  margin-bottom: 25px;
}
.dashboard-container {
  width: 95%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px 1px 10px;
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.dashboard-header {
  float: left;
  color: #ffffff;
}
.dashboard-generate-lr {
  float: right;
  width: 250px;
  margin-right: 2px;
}
.dashboard-table {
  padding-top: 45px;
  font-size: 14px;
  font-weight: 200;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #007bff2e !important;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #007bff66;
}

thead,
tbody {
  display: block;
}
tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
}
td,
th {
  min-width: 155px;
  max-width: 155px; /*180*/
}
tbody::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

tbody::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

tbody::-webkit-scrollbar-thumb {
  background-color: #dee2e6; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}

.dashboard-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  height: 45px;
  position: fixed;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #072441;
  color: white;
}
.footer-img {
  margin-right: 30px;
  max-height: 30px;
  float: right;
}
.poweredBy {
  margin-bottom: -25px;
  text-align: right;
  margin-right: 150px;
  margin-top: 10px;
  font-size: 16px;
}
h1 {
  font-size: 3.1rem;
  font-family: -webkit-body;
}
.lrdetails-container {
  width: 1090px;
  height: 495px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 0px;
  padding: 20px;
  margin: 10px;
}
.lrdetails-header {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
}

.lrDetails-content {
  width: 1050px;
  padding: 20px;
  border: 1px solid black;
  font-size: 14px;
}
.lrDetails-header {
  display: flex;
  flex-direction: row;
}
.lrDetails-company {
  flex: 2;
  font-size: 23px;
  font-weight: 600;
}
.lrDetails-address {
  font-size: 14px;
  font-weight: 200;
}
.lrdetails-status {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.lr-td-quantity {
  border: 1px solid;
  min-width: 160px;
  height: 150px;
  padding: 10px;
}
.lr-td-description {
  border: 1px solid;
  min-width: 380px;
  height: 100px;
  padding: 10px;
}
.lr-td-fright {
  min-width: 160px;
  border: 1px solid;
}
.lrDetails-th {
  border: 1px solid;
  padding-left: 10px;
}
.generateLR-container {
  width: 60%;
  margin-left: 170px;
  max-height: 460px;
  overflow-y: scroll;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}
form {
  padding: 35px;
}
.generateLRHeader {
  padding: 30px;
}
